<a href="https://colab.research.google.com/github/trirex79/python/blob/main/Analiza_danych/Pandas_wprowadzenie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strona biblioteki: https://pandas.pydata.org/
Dokumentacja: https://pandas.pydata.org/pandas-docs/stable/

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
pd.__version__

'1.1.5'

#Podstawowe struktury danych

##pd.Series

In [7]:
s = pd.Series(data=[1,2,3,5,6])
s

0    1
1    2
2    3
3    5
4    6
dtype: int64

In [59]:
s = pd.Series(data=[[1,2,3,5,6],[1,0,-3,5,4]])
s

0     [1, 2, 3, 5, 6]
1    [1, 0, -3, 5, 4]
dtype: object

In [9]:
s = pd.Series(data=[1,2,3,5,6], index=['a','b','c','d','e'], name='sample')
s

a    1
b    2
c    3
d    5
e    6
Name: sample, dtype: int64

In [10]:
s = pd.Series(data=[1.,2,3,5,6])
s

0    1.0
1    2.0
2    3.0
3    5.0
4    6.0
dtype: float64

In [12]:
import numpy as np

In [13]:
s = pd.Series(data=[1,2,np.nan,5,6], index=['a','b','c','d','e'], name='sample')
s

a    1.0
b    2.0
c    NaN
d    5.0
e    6.0
Name: sample, dtype: float64

In [15]:
s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [19]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20210101', periods=10))
s

2021-01-01    10
2021-01-02    11
2021-01-03    12
2021-01-04    13
2021-01-05    14
2021-01-06    15
2021-01-07    16
2021-01-08    17
2021-01-09    18
2021-01-10    19
Freq: D, dtype: int64

In [24]:
s.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

In [28]:
s.dtype

dtype('int64')

In [25]:
list(s.index)

[Timestamp('2021-01-01 00:00:00', freq='D'),
 Timestamp('2021-01-02 00:00:00', freq='D'),
 Timestamp('2021-01-03 00:00:00', freq='D'),
 Timestamp('2021-01-04 00:00:00', freq='D'),
 Timestamp('2021-01-05 00:00:00', freq='D'),
 Timestamp('2021-01-06 00:00:00', freq='D'),
 Timestamp('2021-01-07 00:00:00', freq='D'),
 Timestamp('2021-01-08 00:00:00', freq='D'),
 Timestamp('2021-01-09 00:00:00', freq='D'),
 Timestamp('2021-01-10 00:00:00', freq='D')]

In [20]:
type(s)

pandas.core.series.Series

In [21]:
l = pd.Series(data=['python','C++','sql', 'R'], name= 'languages')
l

0    python
1       C++
2       sql
3         R
Name: languages, dtype: object

In [23]:
l.index

RangeIndex(start=0, stop=4, step=1)

In [26]:
l.values

array(['python', 'C++', 'sql', 'R'], dtype=object)

In [27]:
l.dtype

dtype('O')

In [29]:
l.shape

(4,)

In [33]:
price = pd.Series(data={'Apple' : 210, 'CD Project': 55, 'Tesla': 580})
price

Apple         210
CD Project     55
Tesla         580
dtype: int64

In [34]:
price['Apple']

210

In [36]:
price[0]

210

In [38]:
price.count()

3

In [41]:
price['Microsoft'] = 210
price

Apple         210
CD Project     55
Tesla         580
Microsoft     210
dtype: int64

In [42]:
price.value_counts()

210    2
55     1
580    1
dtype: int64

In [43]:
price.min()

55

In [44]:
price.std()

223.1357957238895

In [45]:
price.describe()

count      4.000000
mean     263.750000
std      223.135796
min       55.000000
25%      171.250000
50%      210.000000
75%      302.500000
max      580.000000
dtype: float64

In [46]:
price['KGHM'] = np.nan

In [49]:
price.value_counts()

210.0    2
580.0    1
55.0     1
dtype: int64

In [48]:
price.value_counts(dropna=False)

210.0    2
NaN      1
580.0    1
55.0     1
dtype: int64

In [50]:
price.nlargest(2) # dwie najdroższe

Tesla    580.0
Apple    210.0
dtype: float64

In [51]:
price.nsmallest(2)

CD Project     55.0
Apple         210.0
dtype: float64

In [52]:
price.rank()

Apple         2.5
CD Project    1.0
Tesla         4.0
Microsoft     2.5
KGHM          NaN
dtype: float64

In [53]:
price.sort_values(ascending=False)

Tesla         580.0
Microsoft     210.0
Apple         210.0
CD Project     55.0
KGHM            NaN
dtype: float64

In [55]:
pricePLN = price.apply(lambda x : x * 3.8)
pricePLN

Apple          798.0
CD Project     209.0
Tesla         2204.0
Microsoft      798.0
KGHM             NaN
dtype: float64

##pd.DataFrame

###Tworzenie DF

In [58]:
df = pd.DataFrame(data=[[13,17,-2,8],[12,17,2,88]])
df

    0   1  2   3
0  13  17 -2   8
1  12  17  2  88

In [61]:
df = pd.DataFrame(data=[[13,17,-2,8],[12,17,2,88]], index=['a','b'], columns=['a','b','c','d'])
df

    a   b  c   d
a  13  17 -2   8
b  12  17  2  88

In [63]:

df = pd.DataFrame(data={'WIG20': ['PKN Orlen', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [64]:
df['WIG20']

0    PKN Orlen
1       PKO BP
Name: WIG20, dtype: object

### Informacje o DF

In [67]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [68]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [69]:
df.values

array([['PKN Orlen', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [73]:
df = pd.DataFrame(data=[[13,17,-2,8.2],[12,17,2,88.3]], index=['a','b'], columns=['a','b','c','d'])
df

    a   b  c     d
a  13  17 -2   8.2
b  12  17  2  88.3

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   c       2 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 160.0+ bytes

In [75]:
df.describe()

               a     b         c          d
count   2.000000   2.0  2.000000   2.000000
mean   12.500000  17.0  0.000000  48.250000
std     0.707107   0.0  2.828427  56.639253
min    12.000000  17.0 -2.000000   8.200000
25%    12.250000  17.0 -1.000000  28.225000
50%    12.500000  17.0  0.000000  48.250000
75%    12.750000  17.0  1.000000  68.275000
max    13.000000  17.0  2.000000  88.300000

In [77]:
df.median(axis=0)

a    12.50
b    17.00
c     0.00
d    48.25
dtype: float64

In [78]:
df.describe().T

   count   mean        std   min     25%    50%     75%   max
a    2.0  12.50   0.707107  12.0  12.250  12.50  12.750  13.0
b    2.0  17.00   0.000000  17.0  17.000  17.00  17.000  17.0
c    2.0   0.00   2.828427  -2.0  -1.000   0.00   1.000   2.0
d    2.0  48.25  56.639253   8.2  28.225  48.25  68.275  88.3

### Wycinanie indeksów i kolumn

In [80]:
df

    a   b  c     d
a  13  17 -2   8.2
b  12  17  2  88.3

In [79]:
df['d']

a     8.2
b    88.3
Name: d, dtype: float64

In [81]:
type(df['d'])

pandas.core.series.Series

In [83]:
df[['d']]

      d
a   8.2
b  88.3

In [84]:
type(df[['d']])

pandas.core.frame.DataFrame

In [85]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [87]:
df.columns = ['c1','c2','c3','c4']
df

   c1  c2  c3    c4
a  13  17  -2   8.2
b  12  17   2  88.3

In [88]:
df.c2

a    17
b    17
Name: c2, dtype: int64

In [89]:
df['c5'] = df.c4 + df.c3
df

   c1  c2  c3    c4    c5
a  13  17  -2   8.2   6.2
b  12  17   2  88.3  90.3

In [90]:
df.loc['a']

c1    13.0
c2    17.0
c3    -2.0
c4     8.2
c5     6.2
Name: a, dtype: float64

In [93]:
df.iloc[0]

c1    13.0
c2    17.0
c3    -2.0
c4     8.2
c5     6.2
Name: a, dtype: float64

In [99]:
df.iloc[1,2]

2

In [98]:
df.loc['b', 'c3']

2

In [97]:
df.loc[:, 'c3']

a   -2
b    2
Name: c3, dtype: int64